<!doctype html>
<html lang="hu">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pakli szerkesztő</title>

    <script src="https://use.fontawesome.com/c8df64b8d1.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Kártyák</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim vestibulum justo, a malesuada arcu
                faucibus at. Aliquam euismod elementum euismod.</p>
        </div>

        <ul id="mainNav" class="nav nav-tabs">
            <li role="presentation"><a href="/">Főoldal</a></li>
            <li role="presentation"><a href="/deck/create">Új pakli</a></li>
            <li role="presentation" class="active"><a href="/card">Kártyák</a></li>
        </ul>

        <div id="cards">
            <button id="newCard" class="btn btn-primary" data-toggle="modal" data-target="#newCardModal">Új Kártya</button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="card-name">Név</th>
                        <th class="text-center">Mana</th>
                        <th class="text-center">Támadás</th>
                        <th class="text-center">Védekezés</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="card-name">Azure Drake</td>
                        <td class="text-center">5</td>
                        <td class="text-center">4</td>
                        <td class="text-center">4</td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="onDeleteButtonClick(2)">Törlés</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="card-name">Ragnaros</td>
                        <td class="text-center">8</td>
                        <td class="text-center">8</td>
                        <td class="text-center">8</td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="onDeleteButtonClick(3)">Törlés</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="card-name">Wisp</td>
                        <td class="text-center">0</td>
                        <td class="text-center">1</td>
                        <td class="text-center">1</td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="onDeleteButtonClick(4)">Törlés</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="card-name">Elven Archer</td>
                        <td class="text-center">1</td>
                        <td class="text-center">1</td>
                        <td class="text-center">1</td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="onDeleteButtonClick(5)">Törlés</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="card-name">Fireball</td>
                        <td class="text-center">4</td>
                        <td class="text-center">-</td>
                        <td class="text-center">-</td>
                        <td class="text-center">
                            <button class="btn btn-danger" onclick="onDeleteButtonClick(6)">Törlés</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">Tamás Perlaki, BME, 2017</p>
        </div>
    </footer>

    <div id="newCardModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form action="/card" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Új kártya</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="name">Név</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Név">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="mana">Mana</label>
                                <input type="text" class="form-control" id="mana" name="mana" placeholder="Mana">
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="attack">Támadás</label>
                                <input type="text" class="form-control" id="attack" name="attack" placeholder="Támadás">
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="defense">Védekezés</label>
                                <input type="text" class="form-control" id="defense" name="defense" placeholder="Védekezés">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Mentés</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteCardModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <input id="cardId" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Kártya törlése</h4>
                </div>
                <div class="modal-body">
                    Biztos törli a kártyát?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="onDeleteConfirm()">Törlés</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="/js/cards.js"></script>
</body>

</html>